<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Capstone assignment</title>
  </head>

  <body>
    <h1>Capstone assignment</h1>
    <form method="post" action="/item/add">
      <label for="roll">Roll</label>
      <input type="text" name="roll" />
      <label for="name">Name</label>
      <input type="text" name="name" />
      <label for="room">Room number</label>
      <input type="text" name="room" />
      <input type="submit" value="Add" />
    </form>
    <h4>Items:</h4>
    <ul>
      <% items.forEach(function(item) { %>
      <li><%= item.roll %> <%= item.name %><%= item.room %></li>
      <% }); %>
    </ul>
  </body>
</html>
